{% load static %}

<form enctype="multipart/form-data" action="/edit/" method="POST">
{% csrf_token %}
<div class="clear"></div>

<div class="grid_2"><p>Name:</p></div>
<div class="grid_2"><p>{{ form.first_name }}</p></div>
<div class="grid_5 push_5 omega"><p>Email:</p></div>
<div class="grid_4 push_2 omega">{{ form.email }}</div>
<div class="clear"></div>

<div class="grid_2"><p>Last name:</p></div>
<div class="grid_2"><p>{{ form.last_name }}</p></div>
<div class="grid_5 push_5 omega"><p>Jabber:</p></div>
<div class="grid_4 push_2 omega"><p>{{ form.jid }}</p></div>
<div class="clear"></div>

<div class="grid_2"><p>Date of birth:</p></div>
<div class="grid_2"><p>{{ form.date_of_birth }}</p></div>
<div class="grid_5 push_5 omega"><p>Skype:</p></div>
<div class="grid_4 push_2 omega"><p>{{ form.skype_id }}</p></div>
<div class="clear"></div>

<div class="grid_2"><p>Photo:</p></div>
<div class="grid_2"><p>{{ form.user_photo }}</p></div>

<div class="clear"></div>

<div class="grid_9">
{% include "accounts/block_user_photo.html" %}
</div>

<div class="grid_10">
    <div class="grid_4">
        Other contacts:
        {{ form.other_contacts }}
    </div>
    <div class="clear"></div>
    <div class="grid_4">
        Bio:
        {{ form.bio }}
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>

<input type="submit" value="Save" />
<input type="reset" value="Cancel" />
</form>