{% extends "base.html" %}
{% load static %}
{% block content %}
{% if profile %}
<div class="container_24">
    <div class="grid_24"><h3>42 Coffee Cups Test Assignment</h3></div>
    <div class="clear"></div>

    <div class="grid_8 push_8">Contacts</div>
    <div class="clear"></div>

    <div class="grid_4">{{ profile.first_name }}</div>
    <div class="grid_4 push_4"><p>Email:</p></div>
    <div class="grid_4 push_2"><p>{{ profile.email }}</p></div>
    <div class="clear"></div>

    <div class="grid_4">{{ profile.last_name }}</div>
    <div class="grid_4 push_4"><p>Jabber:</p></div>
    <div class="grid_4 push_2"><p>{{ profile.jid }}</p></div>
    <div class="clear"></div>

    <div class="grid_4">{{ profile.date_of_birth|date:"d.m.Y" }}</div>
    <div class="grid_4 push_4"><p>Skype:</p></div>
    <div class="grid_4 push_2"><p>{{ profile.skype_id }}</p></div>
    <div class="clear"></div>

    <div class="grid_24"><p></p></div>
    <div class="clear"></div>

    <div class="grid_4"><p>Bio:</p></div>
    <div class="grid_4 push_4"><p>Other contacts:</p></div>
    <div class="clear"></div>


    <div class="grid_4">
        <textarea name="bio" cols="40" rows="10">{{ profile.bio }}</textarea>
    </div>
    <div class="grid_4 push_4">
        <textarea name="bio" cols="40" rows="10">{{ profile.other_contacts }}</textarea>
    </div>

    <div class="clear"></div>
    <div class="grid_16"><hr></div>
    <div class="clear"></div>
    <div class="grid_4"><a href="{% url 'requests:index' %}">Requests</a></div>
</div>
{% endif %}
{% endblock content %}
