{% extends "base.html" %}

{% block content %}
    <div class="container_24">
    <div class="grid_7">
        <a href="{% url 'accounts:index' %}">Main page</a>
    </div>
    <div class="grid_7 push_6">
        Sort: <a href="?sort={{ sort_order }}&mode=1">Priority (&uarr;&darr;)</a><br><br><br>
    </div>
    <div class="clear"></div>
    {% if events %}
        {% for event in events %}
            <div class="grid_4">
                [{{ event.created_on|date:"d.m.Y H:i:s"}}]
            </div>
            <div class="grid_2">
                {{event.method}}
            </div>
            <div class="grid_8">
                {{ event.path }}
            </div>
            <div class="grid_1">
                {{ event.priority }}
                {% if event.priority == 0 %}
                    <a href="{% url 'requests:event' event.id %}?sort={{ sort_order }}&action=up" style="text-decoration: none">&uarr;</a>
                {% else %}
                    <a href="{% url 'requests:event' event.id %}?sort={{ sort_order }}&action=down" style="text-decoration: none">&darr;</a>
                {% endif %}
            </div>
            <div class="clear"></div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock content %}